/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/vendor
/mysql
.env
.env.backup
.phpunit.result.cache
.env.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mysql
.env.example
/.idea
/public/js/app.js
/database

composer.lock
