#login,
#register,
#register-ao {
  width: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
}

#register-ao {
  height: 700px;
}

#register-ao input,
#register-ao button {
  float: center;
}

#register {
  height: 665px;
}

#register input,
#register button {
  float: center;
}

#picture-input {
  float: center;
  width: 200px;
  height: 200px;
}

